<ul class="grid gap-x-9 m-5 sm:grid-cols-2 2xl:grid-cols-3">
    <app-pokemon-list-item class="flex flex-col"
    *ngFor="let pokemon of pokemons"
    [pokemon]="pokemon"
    > </app-pokemon-list-item>
</ul>