<li ngClass="pokemon" *ngIf="pokemon" class="flex flex-row flex-1 justify-between px-8 mb-4 items-center shadow relative bg-white rounded transform motion-safe:hover:scale-110">
    <section class="p-4">
        <img class="scale-125" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png" alt="pokemon{{pokemon.id}}" />
        <span class="text-2xl">{{ pokemon.name }}</span>
    </section>
    <app-collect-pokemon-button [pokemonName]="pokemon.name"></app-collect-pokemon-button>
</li>