<nav class="bg-yellow-300 flex justify-between items-center p-4 sticky top-0 w-full z-50">
    <img width="350" src="/assets/img/poketext.png" alt=""/>
    <ng-container *ngIf="user !== undefined">
        <ul class="flex items-center">
            <li>
                <app-search-bar></app-search-bar>
            </li>
            <li class="flex flex-col items-center px-4">
                <a routerLink="/catalogue"><img width="50" src="/assets/img/catalogue.png"/></a>
                <a routerLink="/catalogue">Catalogue</a>
            </li>
            <li class="flex flex-col items-center px-4">
                <a routerLink="/profile"><img width="50" src="/assets/img/user.png"/></a>
                <a routerLink="/profile">{{ user.username }}</a>
            </li>
        </ul>
    </ng-container>
</nav>
