<main class="container mx-auto p-4 mt-0.5">
<h1 class="flex justify-center text-3xl font-bold font-serif">Trainer: {{ user.username }}</h1>
<div class="flex flex-row justify-between px-9">
    <h2 class="text-xl font-bold font-serif p-4">Your pokemons:</h2>
    <app-logout-button></app-logout-button></div>
<app-pokemon-list [pokemons]="pokemons"></app-pokemon-list>

</main>
