

<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <section class="px-0 mx-0 pb-9 flex justify-center">
        <fieldset class=" mb-5 pb-5">
            <label for="username" class="block font-bold font-serif">Username:</label>
            <input type="text" name="username" id="username"
                ngModel
                #username="ngModel"
                class="border border-slate-300 p-2 rounded w-96"
                placeholder="Type in username..." />

                <button type="submit" class="h-11 bg-red-600 hover:bg-red-700 text-white font-bold px-6 ml-4 rounded">Login</button>
        
        </fieldset>
        
    </section>
</form>
