<main class="flex flex-col container ml-0 h-auto min-w-full bg-gradient-to-b from-yellow-300 to to-yellow-50 mx-auto px-4 p-10 mt-0.5">
    <section class="flex flex-col items-center">
        <img width="400" src="/assets/img/catchem.png"/>
        <img width="300" class="-mt-8 pb-11" src="/assets/img/pikachu.png"/>
    </section>
    <app-login-form (login)="handleLogin()"></app-login-form>
</main>
