<aside class="top-4 right-4">

    <button
    (click)="onCollectClick()"
        class="flex justify-center items-center p-2">
        <ng-container *ngIf="isInCollection; then collected else notCollected"></ng-container>

        <ng-template #collected>

            <div class="flex flex-col" *ngIf="animationOpen" [@collect]> <img mb-6  min-width="80px" width="80px" src="assets/img/fire.png" alt="fire"/></div>

            <div class="flex flex-col items-center"><img width="100px" height="100px"  class="hover:animate-shake-ball" src="assets/img/pokeball.png" alt="closed pokeball"/>
            <h4>Release pokemon</h4></div>
        </ng-template>
        <ng-template #notCollected>
            <div class="flex flex-col" *ngIf="animationClose" [@letGo]> <img min-width="80px" width="80px" src="assets/img/fireRight.png" alt="fire"/></div>


            <div class="flex flex-col items-center"><img width="100px" height="100px" src="assets/img/openball.png" alt="open pokeball"/>
            <h4>Catch pokemon</h4></div>
        </ng-template>  
    </button>
</aside>
