<main class="container mx-auto p-4">
    <p *ngIf="loading">Loading pokemons...</p>
    <app-pokemon-list [pokemons]="pokemons"></app-pokemon-list>
    <app-navigate-pokemons></app-navigate-pokemons>
</main>