<main class="container mx-auto p-4 ">
    <button (click) = "returnToCatalogue()" class="h-11 bg-red-600 hover:bg-red-700 text-white font-bold px-6 ml-4 rounded" >Return to catalogue</button>
    <p *ngIf="loading">Loading pokemons...</p>
    <ng-container *ngIf="pokemonsLength > 0; then showPokemon else noPokemons"></ng-container>
    <ng-template #showPokemon>
        <app-pokemon-list [pokemons]="pokemons" ></app-pokemon-list>
    </ng-template>
    <ng-template #noPokemons>
        <h1 class="p-4">Your search did not match any pokemons in the catalogue.</h1>
    </ng-template>
</main>